---
layoutdate: 9 Oct 2018
---

<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="https://nepose.github.io/css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	</head>
	<body>
		<font face="Lato">
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/blog">Main news blog</a></li>
        		<li><a href="http://github.com/Nepose/">GitHub repositories</a></li>
						<li><a href="/download">Downloads</a></li>
						<li><a href="/contact">Contact me</a></li>
						<li>You are at: {{ page.whereis }}
    		</ul>
		</nav>
		<div class="container">

    {{ content }}

		</div><!-- /.container -->
		<footer>
    		<ul>
			<li><a href="mailto:nepose.magportal@gmail.com">Send e-mail to me</a></li>
			<li>Latest layout updating: {{ page.layoutdate }}</li>
			<li><p>MAG Software Portal forum threads:</p></li>
			<li><a href="http://techkings.org/threads/mag-245-250-aura-hd-custom-image-new-stbs.142741/">Techkings</a></li>
			<li><a href="https://linuxsat-support.com/thread/132778-mag-250-254-322-custom-firmware-mag-software-portal/">Linuxsat-Support</a></li>
			<li><a href="http://dsslegends.com/forums/showthread.php?70968-Custom-firmware-for-Aura-MAG-250-254-322&p=636044#post636044">Team Legends</a></li>
			<li>Latest release: 2.19.00p1 30 Sep 2018</li>
			</ul>
		</footer>
		</font>
	</body>
</html>
